.logosContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5rem;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    
    
  }
  
  
  .logoContainer{
    width: 110px;
    height: 35px;
    
  }
  
  .logoImage{
    width: 100%;
    height: 100%;
  }
  
  .logoContainer3{
    width: 110px;
    height: 20px;
  }
  
  .logo3Image{
    width: 100%;
    height: 100%;
  }
  
  .logoContainer5{
    width: 100px;
    height: 20px;
  }
  
  .logo5Image{
    width: 100%;
    height: 100%;
  }


  @media screen and (max-width : 1120px){

    .logosContainer{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      column-gap: 2rem;
      padding: 0 3rem 0 7rem;
      flex-wrap: wrap;
      row-gap: 5rem;
      
      
      
    }
    
    .logoContainer{
      width: 200px;
      height: 75px;
      
  }

  .logoImage{
    width: 100%;
    height: 100%;
  }
  
  .logoContainer3{
    width: 200px;
    height: 50px;
  }
  
  .logo3Image{
    width: 100%;
    height: 100%;
  }
  
  .logoContainer5{
    width: 200px;
    height: 50px;
  }
  
  .logo5Image{
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }


}

@media screen and (max-width : 480px){
  .logosContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 7rem;
    row-gap: 0rem;
    flex-wrap: wrap;
    row-gap: 5rem;
    
    
    
    
  }
  
  .logoContainer{
    width: 160px;
    height: 55px;
    /* background-color: red; */
}

.logoImage{
  width: 100%;
  height: 100%;
}

.logoContainer3{
  width: 160px;
  height: 40px;
}

.logo3Image{
  width: 100%;
  height: 100%;
}

.logoContainer5{
  width: 160px;
  height: 35px;
}

.logo5Image{
  width: 100%;
  height: 100%;
  /* background-color: red; */
}



}
  