.secondFooterAndAllContentContainer{
    width: 100%;
    height: auto;
    background-color: #9EABB2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 6.5rem;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 4rem;
  }
  
  .secondFooterLogoAndAllTextContainer{
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  
  }
  
  .secondFooterLogoContainer{
    width: 55px;
    height: 55px;
  }
  
  .secondFooterLogoImage{
    width: 100%;
    height: 100%;
  }
  
  .secondFooterAllTextContainer{
    width: 70%;
    height: auto;
    display: flex;
    
    flex-direction: row;
    column-gap: 6rem;
  }
  
  .secondFooterFirst2TextByColumnContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.65rem;
    /* color:#4C545C ; */
    
    
  }

  
   
  .paragraph{
    color:#4C545C;
    transition: color 0.5s;
  }

  .paragraph:hover{
    color:#26BBA4;
    cursor: pointer;
  }
  
  .secondFooterSecond2TextByColumnContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.65rem;
    color:#4C545C ;
  }
  
  .secondFooterLast1TextByColumnContainer{
    width: fit-content;
    height: auto;
    color:#4C545C ;
  }
  
  
  
  .secondFooterAllSocialMediaContainer{
    width: auto;
    
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .secondFooterSocialMediaContainer {
    width: 24px;
    height: 24px;
    
  }
  
  .secondFooterSocialMediaImage {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  a{
    text-decoration: none;
    color:#4C545C;
    transition: color 0.5s;
  }

  a:hover{
    color:#26BBA4;
    cursor: pointer;
  }
 
  @media  screen and (max-width : 1120px) {
    .secondFooterLogoAndAllTextContainer{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding: 2rem ;
      align-items: center;
      column-gap: 6rem;
      /* background-color: red; */
  }

  .secondFooterAndAllContentContainer{
    width: 100%;
    height: auto;
    background-color: #9EABB2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
  }

    .secondFooterAllTextContainer{
     width: auto;
      height: auto;
      display: flex;
      
      flex-direction: row;
      column-gap: 4rem;
      /* background-color: black; */
    }

  .secondFooterLogoContainer{
    width: 100px;
    height: 100px;
  }
  
  .secondFooterLogoImage{
    width: 100%;
    height: 100%;
  }

  

  .secondFooterFirst2TextByColumnContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    color:#4C545C ;
    font-size: 1.7rem;
  }

  .secondFooterSecond2TextByColumnContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    color:#4C545C ;
    font-size: 1.7rem
  }

  .secondFooterLast1TextByColumnContainer{
    width: fit-content;
    height: auto;
    color:#4C545C ;
    font-size: 1.7rem;
  }

  .secondFooterAllSocialMediaContainer{
    width: 50%;
    
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    justify-content: center;
    /* background-color: red; */
    margin-left: 7rem;
    margin-bottom: 1rem;
  }
  
  .secondFooterSocialMediaContainer {
    width: 40px;
    height: 40px;
  }
  
  .secondFooterSocialMediaImage{
    width: 100%;
    height: 100%;
  }
}

@media  screen and (max-width : 480px) {

  .secondFooterAndAllContentContainer{
    width: 100%;
    height: auto;
    background-color: #9EABB2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 4rem;
    padding: 3rem 0rem;
  }

  .secondFooterLogoAndAllTextContainer{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0rem;
    row-gap: 3rem;
    /* background-color: red; */
}

.secondFooterLogoContainer{
  width: 70px;
  height: 70px;
}

.secondFooterLogoImage{
  width: 100%;
  height: 100%;
}

.secondFooterAllTextContainer{
  width: 70%;
  height: auto;
  display: flex;
  
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 0rem;
  /* background-color: red; */
}

.secondFooterFirst2TextByColumnContainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  color:#4C545C ;
  font-size: 1.3rem;
  text-align: center;
}

.secondFooterSecond2TextByColumnContainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  color:#4C545C ;
  font-size: 1.3rem;
  text-align: center;
}

.secondFooterLast1TextByColumnContainer{
  width: 100%;
  height: auto;
  color:#4C545C ;
  font-size: 1.3rem;
  text-align: center;
}

.secondFooterAllSocialMediaContainer{
  width: 50%;
  
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  justify-content: center;
  /* background-color: red; */
  margin-left: 0rem;
}

.secondFooterSocialMediaContainer {
  width: 40px;
  height: 34px;
}

.secondFooterSocialMediaImage{
  width: 100%;
  height: 100%;
}
}